// @import "./styles/eukaryotic.scss";
@font-face {
    font-family: myFont;
    src: url(../assets/Arvo/Arvo-Regular.ttf);
}
#name{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    // text-align: center;
    color: rgb(22, 22, 22);
    text-shadow: 4px 4px 4px rgb(115,247,251);
    font-size: 90px;
    font-family: myFont;
}

#github {
    position: absolute;
    top: 1px;
    right: 50px;
    margin: 0;
    font-size: 10px;
    font-weight: bold;
  }

  #linkedin {
    position: absolute;
    top: 1px;
    right: 120px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }

  body {
    background-image: url('../largeLab.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // overflow-x: scroll;
    /* Example filter: increase brightness */
    
}
.cellContainer{
    display: flex;
    // text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    // gap: 5vw;
}

#cell1 { 
    background-color: rgb(248, 247, 243,0.9);
    border: 10px solid;
    border-color: rgb(22, 22, 22);
    margin-top: 20px;
    // margin-left: 10vw;
    // margin-left: 5vw;
    border-radius: 50%;
    box-shadow: 0 0 40px rgb(72, 72, 72);
}

#cell2 {
    background-color: rgb(248, 247, 243,0.9);
    border: 10px solid;
    border-color: rgb(22, 22, 22);
    margin-top: 20px;
    border-radius: 50%;
    // margin-left: 3vw;
    box-shadow: 0px 0px 40px rgb(72, 72, 72);
}


#EukaryoticCell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#cellname1 {
    // position: relative;
    // // margin-top: 10%;
    // margin-left: 150px;
    // max-width: 700px;
    color: rgb(22, 22, 22);
    font-weight:bolder;
    font-family: myFont;
    font-size:50px;
    text-shadow: 4px 4px 4px rgb(219,146,120); 
}

#ProkaryoticCell{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#cellname2 {
    // position: relative;
    // // margin-top: 10%;
    // margin-left: 120px;
    // max-width: 800px;
    color: rgb(22, 22, 22);
    font-weight: bolder;
    font-family: myFont;
    font-size: 50px;
    text-shadow: 4px 4px 4px rgb(185,101,141);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
    cursor: pointer;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content1 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close1:hover {
    color: red;
    cursor: pointer;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close2:hover{
    color: red;
    cursor: pointer;
}

.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);
}

.modal-content3 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    margin: 15% auto;
    padding: 20px;
    color:white;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close3:hover{
    color: red;
    cursor:pointer;
}

.modal4 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content4 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close4 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close4:hover{
    color: red;
    cursor: pointer;
}

.modal5 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content5 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close5 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close5:hover{
    color: red;
    cursor: pointer;
}

.modal6 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content6 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close6 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close6:hover{
    color: red;
    cursor: pointer;
}

.modal7 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content7 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close7 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close7:hover{
    color: red;
    cursor: pointer;
}

.modal8 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content8 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close8 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close8:hover{
    color: red;
    cursor: pointer;
}

.modal9 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content9 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close9 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close9:hover{
    color: red;
    cursor: pointer;
}

.modal10 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content10 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close10 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close10:hover{
    color: red;
    cursor: pointer;
}

.modal11 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content11 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close11 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close11:hover{
    color: red;
    cursor: pointer;
}

.modal12 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content12 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close12 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close12:hover{
    color: red;
    cursor: pointer;
}

.modal13 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content13 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close13 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close13:hover{
    color: red;
    cursor: pointer;
}

.modal14 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content14 {
    background-color: rgba(36, 37, 36, 0.895);
    box-shadow: 0 0 40px rgba(250, 251, 251, 0.981);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}
.close14 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close14:hover{
    color: red;
    cursor: pointer;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    // padding-bottom: 100px;
    padding-top: 0px;
    font-size: 18px;
}
#instructions{
    color: white;
    border: #010101 solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: black;
    background: linear-gradient(to top, rgb(82, 105, 113), rgb(3, 93, 116));
    text-align: center;
    width: 100dvw;
}

#instructionsHeader{
 font-size: 25px;
 font-family: "Calibri", sans-serif;
 font-weight: bold;
 text-decoration: underline;
 text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
 margin-bottom: 20px;
}

#instructionsBody{
    font-size: 20px;
    font-weight: 350px;
    font-family: "Calibri", sans-serif;
    text-shadow: white 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
    line-height: 1.5;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

#micoscope{
    margin-top: 2vh;
}

@media (max-width: 1201px)  {
  /* Styles for screens up to 600px wide (typical for phones) */
  #name{
    margin-left: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   }


   .container1 {
    margin-left: 20vw;
    display: flex;
    justify-content: center;
    align-items:end;
}
  h1{
    font-size: 45px;
    color: red;
  }
  
  #github{
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 20px;
    margin-right: 80vw;
  }

  #linkedin{
    
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 20px;
    margin-right: 60vw;
  }



  #cellname1{
    font-size: 40px;
  }

  #cellname2{
    font-size: 40px;
  }
  .cellContainer{
    margin-right: 20vw;
  }
  body {
    overflow: scroll;
    
    /* Example filter: increase brightness */
    
}

html{
    overflow: scroll;
}

}
